<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PR 작성</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        @media (min-width: 768px) {
            .container {
                width: 750px;
            }
        }
        @media (min-width: 992px) {
            .container {
                width: 940px;
            }
        }
        hr {
            height: 2px; /* 높이 조정 */
            background-color: lightgrey; /* 배경색 변경 */
            border: none; /* 기본 테두리 제거 */
        }
    </style>
</head>
<body>

<div class="mb-3">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Teampl Learn</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>

<div class="container w-70">
    <div class="card">
        <div class="card-body">

            <form id="resume-update-form">
                <div class="resume-title card-title mb-5">
                    <h1><input type="text" class="form-control" id="title" name="title" placeholder="자신을 한 줄로 표현해주세요."></h1>
                </div>

                <hr>

                <div class="resume-info row gap-3 mt-3">
                    <div class="col">
                        <div class="row mb-3">
                            <label for="real-name">이름</label>
                            <div>
                                <input type="text" class="form-control" id="real-name" name="realName">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="phone">연락처</label>
                            <div>
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="010-xxxx-xxxx">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="email">email</label>
                            <div>
                                <input type="email" class="form-control" id="email" name="email" placeholder="test@naver.com">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="location">location</label>
                            <div>
                                <input type="text" class="form-control" id="location" name="location" placeholder="활동지역">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="work">work at</label>
                            <div>
                                <input type="text" class="form-control" id="work" name="work" placeholder="직장/학교">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="portfolios">portfolios</label>
                            <div>
                                <input type="text" class="form-control" id="portfolios" name="portfolios" placeholder="링크를 입력해주세요.">
                            </div>
                        </div>
                    </div>
                    <div class="vr" style="padding: 1px"></div>
                    <div class="col-8">
                        <div >
                            <textarea class="form-control" id="content" style="height: 450px" name="content" placeholder="자신을 어필할 수 있는 글을 작성해주세요."></textarea>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col d-flex justify-content-end">
                    <div class="me-2">
                        <button class="btn btn-outline-secondary">취소</button>
                    </div>

                    <div>
                        <button class="btn btn-outline-primary" id="updateBtn">수정</button>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    window.onload = () => {
        loadResume();
    }

    const updateBtn = document.getElementById('updateBtn');
    updateBtn.addEventListener('click', (e) => {
        e.preventDefault();

        const updateForm = new FormData(document.getElementById('resume-update-form'));

        axios.put('/user/resume', updateForm)
            .then(response => {
                console.log('이력서 수정 성공!' + response);
                window.location.href='/user/resume/view';
            })
            .catch(error => {
                console.log('이력서 수정 실패!' +error);
            })

    })



    function loadResume() {
        const title = document.getElementById('title');
        const realName = document.getElementById('real-name');
        const phone = document.getElementById('phone');
        const email = document.getElementById('email');
        const location = document.getElementById('location');
        const work = document.getElementById('work');
        const portfolios = document.getElementById('portfolios');
        const content = document.getElementById('content');

        axios.get('/user/resume')
            .then(response => {
                console.log('resume loading success!' + response);
                const resume = response.data;

                title.value = resume.title;
                realName.value = resume.realName;
                phone.value = resume.phone;
                email.value = resume.email;
                location.value = resume.location;
                work.value = resume.work;
                portfolios.value = resume.portfolios;
                content.value = resume.content;

            })
            .catch(error => {
                console.log('resume loading failed!' + error);
            })
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>